body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.container {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 48px;
  background-color: #1f2937;
  font-size: 16px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 10px;
  font-weight: 100;
}

.top-content {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 48px;
  gap: 16px;
}

h4 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.main-text {
  flex: auto;
  margin: 8px 0px;
  font-size: 12px;
}

.main-content-container {
  max-width: 300px;
}

.main-content-image {
  background-color: lightslategray;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: auto;
  font-size: 12px;
}

.sign-up-btn {
  background-color: #3882f6;
  border: 0;
  border-radius: 3px;
  padding: 6px 12px;
  color: white;
  font-weight: bold;
}

.middle-content {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 48px;
}

.some-image {
  width: 60px;
  height: 60px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.image-info {
  display: flex;
  gap: 16px;
}

.image-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
  font-weight: 100;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 48px;
}

.quote {
  font-size: 16px;
  font-style: italic;
  color: #1f2937;
  width: 400px;
}

#quote-author {
  align-self: flex-end;
  font-size: 12px;
  font-weight: bold;
  margin-right: 48px;
}
